body {
    background-color: aquamarine;
}

.header {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80px;
    font-weight: bold;
}
.well img {
    height: 200px;
    width: 200px;
}
.well {
    height: 400px;
    overflow-y: scroll;
}